@page "/"

<div class="container">
    <div class="row">
        <div class="col">
            Are you a customer?
        </div>
        <div class="col">
            Are you a specialist?
            <a href="@($"departmentscreen")">Screen</a>
        </div>
    </div>
</div>
