@page "/specialist/login"

<h2><b>>Login</b></h2>
<div>
    <EditForm Model="LoginModel" OnValidSubmit="@LoginUser">
        <label for="username">Username</label>
        <InputText @bind-Value="LoginModel.Username" id="username"></InputText>
        <label for="password">Password</label>
        <InputText @bind-Value="LoginModel.Password" id="password"></InputText>
        <button type="submit">Login</button>
    </EditForm>
</div>
